.table-body {
  position: relative;
  width: 100%;
  max-height: 84vh;
  overflow-y: scroll;
  scrollbar-width: none;
  scroll-behavior: smooth;
  &::-webkit-scrollbar {
    display: none;
  }
  .table__default-style {
    background-color: $light;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 5px 5px 10px $clr-gray300;
    &,
    tbody,
    td,
    tfoot,
    th,
    thead,
    tr {
      padding: 10px 8px;
      text-align: left;
      font-size: 0.9rem;
    }

    thead {
      background: $light;
      color: $secondary;
      position: sticky;
      top: 0;
      z-index: 100;
      box-shadow: 5px 5px 10px $clr-gray300;
    }
    tbody {
      margin-top: 15px;
      color: $black-dark;
      transition: all 200ms linear;
      tr {
        position: relative;
        border-bottom: 1px solid $gray-700;
        transition: all 200ms ease-in;
        .table__row--title {
          position: absolute;
          top: 100%;
        }
        .expanded-arrow {
          color: $gray-400;
          transform: rotate(0deg);
          transition: all 400ms ease-in;
        }
        .expanded-arrow--clicked {
          color: $primary;
          transform: rotate(-180deg);
          transition: all 400ms ease-in;
        }

        &:hover {
          background-color: $clr-gray100;
        }
      }
      .table__row--title {
        padding: 5px 10px;
        border-radius: 1px;
      }
    }
    @mixin identifierBlockStyle {
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: 300;
    }
    .complete {
      @include identifierBlockStyle();
      color: $green;
      background-color: $green-light;
    }
    .pending {
      @include identifierBlockStyle();
      background-color: #fff0c2;
      color: #a68b00;
    }
    .closed {
      @include identifierBlockStyle();
      background-color: $red-light;
      color: $red;
    }
  }
}

.drop-down {
  box-shadow: 5px 5px 10px $clr-gray300 !important;
  -webkit-box-shadow: 5px 5px 10px $clr-gray300 !important;
}
#drop-down__row {
  // background: $clr-gray100;
  transition: all 200ms linear;
  box-shadow: 5px 5px 10px $clr-gray300 !important;
  -webkit-box-shadow: 5px 5px 10px $clr-gray300 !important;
  h3,
  label {
    font-weight: 400;
    color: $clr-gray400;
    font-size: 0.9rem;
    &.value {
      color: $clr-gray700;
      text-align: left;
    }
  }
  .drop-down__content {
    hr {
      border: 1px solid $clr-gray300;
    }
    display: flex;
    justify-content: center;
    gap: 2rem;
    padding: 10px 20px;
    &--card {
      &--line {
        display: flex;
        justify-content: space-between;
        gap: 3rem;
      }
    }
  }
  .conformation--section {
    display: flex;
    justify-content: center;
    gap: 5rem;
    button {
      display: flex;
      gap: 0.9rem;
      padding: 5px 20px;
      font-size: 1.2rem;
      border: 1px solid transparent;
      border-radius: 15px;
      transition: all 200ms ease-in;
      &:not(:disabled):hover {
        cursor: pointer;
        color: $light;
        opacity: 0.9;
        border: 1px solid $secondary;
        transition: all 200ms ease-in;
      }
      &:disabled,
      &[disabled] {
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
    #order__btn--save {
      background-color: #15de6a;
      color: $secondary;
    }
    #order__btn--cancel {
      background-color: $red;
      color: $light;
    }
  }
}
