#table__default-style {
  background-color: $light;
  width: 100%;
  border-collapse: collapse;
  box-shadow: 5px 5px 10px $clr-gray300;
  &,
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    padding: 15px 8px;
    text-align: left;
  }
  thead {
    color: $secondary;
    box-shadow: 5px 5px 10px $clr-gray300;
  }
  tbody {
    margin-top: 15px;
    color: $black-dark;
    td {
      position: relative;
    }
    tr {
      position: relative;
      border-bottom: 1px solid $gray-700;
      transition: all 200ms ease-in;
      .table__row--title {
        position: absolute;
        top: 100%;
      }
      .btn-drop-down:hover {
        cursor: pointer;
      }

      &:hover {
        background-color: $clr-gray150;
      }
    }
    .table__row--title {
      padding: 5px 10px;
      border-radius: 1px;
    }
  }
  @mixin spanStyle {
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 300;
  }
  .complete {
    span {
      @include spanStyle();
      color: $green;
      background-color: $green-light;
    }
  }
  .pending {
    span {
      @include spanStyle();
      background-color: #fff0c2;
      color: #a68b00;
    }
  }
  .closed {
    span {
      @include spanStyle();
      background-color: $red-light;
      color: $red;
    }
  }
}

#drop-down__row {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  transition: all 200ms linear;
}
.drop-down__row--shown {
  display: table-cell !important;
  transition: all 200ms linear !important;
}
