#login-page {
  width: 100vw;
  height: 100vh;
  .login-page__wrapper {
    display: grid;
    place-items: center;
    height: inherit;
    form {
      @include FormStyle();
      input {
        @include InputStyle();
      }
      button {
        @include ButtonStyle();
      }
    }
  }
}
