#notification {
  position: relative;
  margin-left: auto;
  &::before {
    content: '';
    top: 0;
    bottom: 0;
    left: 0;
    width: 2px;
    background-color: $gray-400;
    position: absolute;
  }
  .notification__section {
    &::before {
      content: '';
      top: 0;
      left: 0;
      right: 0;
      height: 2em;
      position: absolute;
      background-image: linear-gradient($gray-700, transparent);
    }
    background-color: $light;
    margin-top: 0.5rem;
    display: grid;
    grid-auto-rows: max-content;
    gap: 1em;
    width: 200px;
    height: 99vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
      display: none;
    }
    scrollbar-width: none;
    .notification__card {
      color: $secondary;
      padding: 5px 10px;
      transition: all 200ms ease-in;
      cursor: pointer;
      h1,
      h3 {
        font-weight: $font-weight-regular;
        font-size: 0.9rem;
      }
      h3 {
        color: $black-light;
        font-size: 0.8rem;
      }
      &:hover {
        background-color: $clr-gray200;
        box-shadow: 5px 5px 10px $clr-gray300;
        transition: all 200ms ease-in;
      }
    }
  }
}
