$black-dark: #1c212d; // tint-black
$black-light: #636d7b;
$black-gray: #dbdee2;
$gray-700: #f0f2f4;
$gray-600: #f2f2f2;
$gray-500: #e0e0e0;
$gray-400: #bdbdbd;
$gray-300: #828282;
$light: #ffffff;
$primary: #44eaff;
$secondary: #091f2c;
$green-light: #e5fcf1;
$green: #388e3c;
$red-light: rgba(255, 0, 89, 0.1);
$red: #ff0059;
// ----------------------------------------------------------------
// Font
$title-size: 2.6rem;
$sub-title-size: 2.25rem;
$mobile-title-size: 1.6rem;
$mobile-sub-title-size: 1.25rem;
$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-black: 900;
// ----------------------------------------------------------------
// ViewPort
$desktop: 1200px;
$laptop: 992px;
$tablet: 770px;
$mobile: 576px;
// Clamp
$clampPadding-20-50: clamp(20px, 6vw, 45px);
// Gray shads
$clr-gray100: #f9fbff;
$clr-gray150: #f4f6fb;
$clr-gray200: #eef1f6;
$clr-gray300: #e1e5ee;
$clr-gray400: #767b91;
$clr-gray500: #4f546c;
$clr-gray600: #2a324b;
$clr-gray700: #161d34;
